h1{
    text-align: center;
}
.row{
    --bs-gutter-x: 0;
    
}
.feels{
    border: solid 2px #0d6efd;;
    border-radius:10px;
    background-color: #0d6efd; ;
    color:white;
    font-weight: bold;
}

.mystyle{
    display:flex;
    justify-content: space-evenly;

}
.card{

    padding:50px;

}